{% extends "index.html.twig" %}

{% block content %}

<div>
    <div class="container">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h1>Hi contacts works!</h1>
                    <br>
                    <p><strong>Adress:</strong></p>
                    <p>Phasellus consequat mauris ac commodo tincidunt.</p>
                    <p><strong>Phone:</strong> +357 25 812 537</p>
                    <p><strong>Fax:</strong> +357 25 812 557</p>
                    <br>
                    <p><strong>Company Requisittes:</strong></p>
                    <p>
                        SIA "Moroz&Co"<br>
                        Dzirnavu iela 31-72, LV-1010, Riga, Latvija<br>
                        Reģ. Nr.: 40103418451<br>
                        A/S Swedbank<br>
                        LV30HABA0551123413498
                    </p>
                </div>
                
                <div class="col-xs-12 col-sm-8">
                    <div id="">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="styled-article">
    <div class="container">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <p>xxx</p>
        </div>
    </div>
</div>

{% endblock %}
