{% extends "index.html.twig" %}

{% block content %}

<div class="content-styles">
    <div class="container my-contacts-container">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h2>Contact information</h2>
                    <br>
                    <p><strong>Adress:</strong></p>
                    <p>Phasellus consequat mauris ac commodo tincidunt.</p>
                    <p><strong>Phone:</strong> +357 25 812 537</p>
                    <p><strong>Fax:</strong> +357 25 812 557</p>
                    <br>
                    <p><strong>Company Requisittes:</strong></p>
                    <p>
                        SIA "Moroz&Co"<br>
                        Dzirnavu iela 31-72, LV-1010, Riga, Latvija<br>
                        Reģ. Nr.: 40103418451<br>
                        A/S Swedbank<br>
                        LV30HABA0551123413498
                    </p>
                </div>
                
                <div class="col-xs-12 col-sm-8">
                    <div>

                        <div id="map-canvas"></div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="styled-article content-styles">
    <div class="container my-contacts-container">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            
            <div class="row">
                
                <div class="col-xs-12 col-sm-4">
                    <h2>Inquiry Form</h2>
                    <p>Aliquam lectus lorem, viverra et tortor quis, consectetur dapibus risus. Donec in justo nibh. Sed ultrices iaculis imperdiet. Vestibulum ligula est, gravida vitae facilisis non, eleifend sed odio. Morbi et faucibus justo.</p>
                </div>
                
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name*">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email*">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Subject">
                    </div>
                    <div class="container-fluid">
                        <div class="form-group col-xs-6">
                            <input type="text" class="form-control" placeholder="Capcha">
                        </div>
                        <div class="form-group col-xs-6">
                            <input type="text" class="form-control" placeholder="Capcha*">
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-4">
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Message" rows="6"></textarea>
                    </div>
                    <div class="form-group">    
                        <button>Send inquiry</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}


{% block scripts %}
    {{ parent() }}

    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQfeS1XuRNIiBCzQ4sXg2_4HgcYsqIuTk&sensor=false">
    </script>
    <script type="text/javascript">
        function initialize() {
            var myLatLng = new google.maps.LatLng(56.948908, 24.133605);

            var mapOptions = {
                center: myLatLng,
                zoom: 16
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"),
                    mapOptions);

            var marker = new google.maps.Marker({
                position: myLatLng,
                title: 'Webskola',
                {#mar: map#}
            });
            marker.setMap(map);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

{% endblock %}