{% extends "index.html.twig" %}

{% block content %}

<div>
    <div class="container">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <h1>Hi contacts works!</h1>
                    <br>
                    <p><strong>Adress:</strong></p>
                    <p>Phasellus consequat mauris ac commodo tincidunt.</p>
                    <p><strong>Phone:</strong> +357 25 812 537</p>
                    <p><strong>Fax:</strong> +357 25 812 557</p>
                    <br>
                    <p><strong>Company Requisittes:</strong></p>
                    <p>
                        SIA "Moroz&Co"<br>
                        Dzirnavu iela 31-72, LV-1010, Riga, Latvija<br>
                        Reģ. Nr.: 40103418451<br>
                        A/S Swedbank<br>
                        LV30HABA0551123413498
                    </p>
                </div>
                
                <div class="col-xs-12 col-sm-8">
                    <div>
                        
                        
                        <!-- Button trigger modal -->
                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                            Launch demo modal
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="bs-example">
                            <ul class="nav nav-pills">
                                <li class="active"><a href="#">Regular link</a></li>
                                <li class="dropdown">
                                    <a id="drop4" role="button" data-toggle="dropdown" href="#">Dropdown <b class="caret"></b></a>
                                    <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Action</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Another action</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Something else here</a></li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Separated link</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a id="drop5" role="button" data-toggle="dropdown" href="#">Dropdown 2 <b class="caret"></b></a>
                                    <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Action</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Another action</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Something else here</a></li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Separated link</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a id="drop6" role="button" data-toggle="dropdown" href="#">Dropdown 3 <b class="caret"></b></a>
                                    <ul id="menu3" class="dropdown-menu" role="menu" aria-labelledby="drop6">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Action</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Another action</a></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Something else here</a></li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="http://twitter.com/fat">Separated link</a></li>
                                    </ul>
                                </li>
                            </ul> <!-- /pills -->
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="styled-article">
    <div class="container">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">

            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://lorempixel.com/output/nature-q-c-1011-480-3.jpg" alt="...">
                        <div class="carousel-caption">
                            <h2>XXX 1</h2>
                            <p>Placeholder Images for every case. Webdesign or Print. It's simple and absolutely free! Just put the custom url in your code like this:to get your FPO / dummy image.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://lorempixel.com/output/nature-q-c-1011-480-5.jpg" alt="...">
                        <div class="carousel-caption">
                            <h2>XXX 2</h2>
                            <p>Placeholder Images for every case. Webdesign or Print. It's simple and absolutely free! Just put the custom url in your code like this:to get your FPO / dummy image.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://lorempixel.com/output/nature-q-c-1011-480-6.jpg" alt="...">
                        <div class="carousel-caption">
                            <h2>XXX 3</h2>
                            <p>Placeholder Images for every case. Webdesign or Print. It's simple and absolutely free! Just put the custom url in your code like this:to get your FPO / dummy image.</p>
                        </div>
                    </div>
                    ...
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>


        </div>
    </div>
</div>

{% endblock %}
