{% extends "index.html.twig" %}

{% block pageTitle %}Home{% endblock %}

{% block content %}
<div class="home-container">
    
    <div class="styled-article">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div id="carousel-for-homepage" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
  {#                  <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"> </li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    </ol>
#}
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="/img/ban1.jpg" class="img-responsive" alt="...">
                                <div class="carousel-caption">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-12 col-lg-8 col-lg-offset-1">
                                                <h3>Full scale service</h3>
                                                <div class="my-carousel-content">Our company offers a full-scale car part services, from Engine start button to the full engine itself. Just state your need and our customer service will come back to you part preposition in the chortest time posible.</div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                            <div class="item">
                                <img src="/img/ban2.jpg" alt="...">
                                <div class="carousel-caption">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-10 col-lg-8 col-lg-offset-1">
                                                <h3>The standard chunk of Lorem Ipsum used since the 1500s</h3>
                                                <div class="my-carousel-content">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-for-homepage" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-for-homepage" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container content-styles">
        <div class="row">
            <div class="col-xs-12 col-lg-10 col-lg-offset-1">
                <div class="row">
                    <div class="col-xs-12 col-lg-4 bdx">
                        <h2><i class="img-icon img-icon-select"></i> Car part selection</h2>
                        <p>You can either use our online search form or get in touch directly with our consulting specialists to select a proper part for your need. We are always happy to help you with your choice.</p>
                    </div>
                    <div class="col-xs-12 col-lg-4 bdx">
                        <h2><i class="img-icon img-icon-gear"></i>Consulting & delivery</h2>
                        <p>We give our clients full scale support upon selecting their car parts and we alco provide them with after sale services, such as: worldwide delivery and technical consultations.</p>
                    </div>
                    <div class="col-xs-12 col-lg-4 bdx">
                        <h2><i class="img-icon img-icon-person"></i>service & installation</h2>
                        <p>After finding and selecting a car part for your needs you are welcome to use our car part replacement services, performed by our quilified personel at our own car service.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/thumbnails.html.twig' %}
        
</div>
{% endblock %}
