{% extends "index.html.twig" %}

{% block content %}
    <div class="home-container">
        <div class="container content-styles">
            <div class="row">
                <div class="col-xs-12">
                    <h1>haha home is ready</h1>
                    <p>askjdhas kasjdhasdk jhasdk aksjdhas kjdha daskjdhasd </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
