{% extends "pages/products.html.twig" %}

{% block product_content %}

<div>
    
    <div class="row">
        
        <div class="col-lg-6 product-carousel-container">

            <div id="product-img-carousel" class="carousel slide" data-ride="carousel">
                
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/img/products/prod-bike.jpg" alt="Bike">
                    </div>
                    <div class="item">
                        <img src="/img/products/prod-bus.jpg" alt="Bus">
                    </div>
                    <div class="item">
                        <img src="/img/products/prod-mini.jpg" alt="Mini">
                    </div>
                    <div class="item">
                        <img src="/img/products/prod-plane.jpg" alt="Plane">
                    </div>
                    <div class="item">
                        <img src="/img/products/prod-porsh.jpg" alt="Porsche">
                    </div>
                    <div class="item">
                        <img src="/img/products/prod-rush.jpg" alt="Rush hour">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#product-img-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#product-img-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

        </div>
        <div class="col-lg-3">
            <!-- Indicators -->
                <div class="product-img-carousel-indicators">
                    <a href="#" data-target="#product-img-carousel" data-slide-to="0" class="active">
                        <img src="/img/products/prod-bike-th.jpg" alt="Bike">
                    </a>
                    <a href="#" data-target="#product-img-carousel" data-slide-to="1">
                        <img src="/img/products/prod-bus-th.jpg" alt="Bus">
                    </a>
                    <a href="#" data-target="#product-img-carousel" data-slide-to="2">
                        <img src="/img/products/prod-mini-th.jpg" alt="Mini">
                    </a>
                    <a href="#" data-target="#product-img-carousel" data-slide-to="3">
                        <img src="/img/products/prod-plane-th.jpg" alt="Plane">
                    </a>
                    <a href="#" data-target="#product-img-carousel" data-slide-to="4">
                        <img src="/img/products/prod-porsh-th.jpg" alt="Porsche">
                    </a>
                    <a href="#" data-target="#product-img-carousel" data-slide-to="5">
                        <img src="/img/products/prod-rush-th.jpg" alt="Rush hour">
                    </a>
                </div>
        </div>
        <div class="col-lg-3 my-products-table my-product-priceing">
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th colspan="2">Price & Delivery</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Price:</td>
                        <td class="price"><strong><i class="fa fa-eur"></i> 200.00</strong></td>
                    </tr>
                    <tr>
                        <td>exc. VAT:</td>
                        <td class="price"><strong><i class="fa fa-eur"></i> 42.00</strong></td>
                    </tr>
                    <tr>
                        <td>Delivery:</td>
                        <td class="price"><strong><i class="fa fa-eur"></i> 15.50</strong></td>
                    </tr>
                    <tr>
                        <td>Avaliability:</td>
                        <td class="price"><strong>In stock</strong></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-link my-buy-btn">Buy now</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        
    </div>
    
    <div class="row my-product-info">
        
        <div class="col-lg-6">
            <h2>Product details</h2>
            <table class="table table-striped table-condensed">
                <tr>
                    <td>Year:</td>
                    <td>2008</td>
                </tr>
                <tr>
                    <td>Part ref:</td>
                    <td>564836354363</td>
                </tr>
                <tr>
                    <td>Engine:</td>
                    <td>2.5 TDI</td>
                </tr>
                <tr>
                    <td>Ref:</td>
                    <td>56158888888</td>
                </tr>
                <tr>
                    <td>Condition:</td>
                    <td>Used</td>
                </tr>
                <tr>
                    <td>Body:</td>
                    <td>Coupe</td>
                </tr>
                <tr>
                    <td>Ttim Type:</td>
                    <td>Some very gooog trim</td>
                </tr>
                <tr>
                    <td>Tramsmission:</td>
                    <td>6 Speed Automatic</td>
                </tr>
                <tr>
                    <td>Vehicle color:</td>
                    <td>Black</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6">
            <h2>Product description</h2>
            <div class="my-product-description">
                <p>Aliquam lectus lorem, viverra et tortor quis, consectetur dapibus risus. Donec in justo nibh. Sed ultrices iaculis imperdiet. Vestibulum ligula est, gravida vitae facilisis non, eleifend sed odio. Morbi et faucibus justo. Praesent interdum vulputate arcu et rhoncus.</p>
                <p>Praesent sollicitudin accumsan risus. Vivamus in bibendum nisl. Maecenas non nibh tellus.</p>
                <p>Suspendisse interdum, arcu a laoreet hendrerit, metus metus lobortis odio, quis aliquet urna elit ullamcorper ante.</p>
            </div>
        </div>
        
    </div>
    
</div>

{% endblock %}

{% block my_thmbnails %}
    {% include 'components/thumbnails.html.twig' %}
{% endblock %}
