{% extends "index.html.twig" %}

{% block content %}

<div class="container my-products-container">
    <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
            
            <table class="table table-bordered table-condensed my-products-table">
                <caption>
                    <span class="btn btn-sm my-filter-btn">
                        <i class="fa fa-filter"></i>
                    </span>
                    <span class="my-filters-container">
                        <span class="btn btn-xs">Mitsubishi<i class="fa fa-times close"></i></span>
                        <span class="btn btn-xs">Lancer<i class="fa fa-times close"></i></span>
                        <span class="btn btn-xs">2014<i class="fa fa-times close"></i></span>
                        <span class="btn btn-xs">Body<i class="fa fa-times close"></i></span>
                    </span>
                </caption>
                <tr>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                Make <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><label><input type="checkbox"> Click me dude</label></li>
                                <li><label><input type="checkbox"> Click me dude</label></li>
                                <li><label><input type="checkbox"> Click me dude</label></li>
                                <li><label><input type="checkbox"> Click me dude</label></li>
                            </ul>
                        </div>
                    </td>

                    <td>
                        <div class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Model <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><label><input type="checkbox"> Click me dude</label></li>
                                <li><label><input type="checkbox"> Click me dude</label></li>
                                <li><label><input type="checkbox"> Click me dude</label></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Engine <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><label><input type="checkbox"> Click me dude</label></li>
                                <li><label><input type="checkbox"> Click me dude</label></li>
                                <li><label><input type="checkbox"> Click me dude</label></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Fuel type <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><label><input type="checkbox"> Click me dude</label></li>
                                <li><label><input type="checkbox"> Click me dude</label></li>
                                <li><label><input type="checkbox"> Click me dude</label></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Transmission <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><label><input type="checkbox"> Click me dude</label></li>
                                <li><label><input type="checkbox"> Click me dude</label></li>
                                <li><label><input type="checkbox"> Click me dude</label></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
            
            <table class="table table-bordered table-condensed table-striped my-products-table">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Purchase</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="img/products/ledtv.jpg" alt="#">
                        </td>
                        <td>
                            <h5><a href="">Vivamus sit amet porta velit. Phasellus consectetur velit quis semper sodales.</a></h5>
                            <p>Aenean non augue ut justo lobortis aliquam. Suspendisse posuere placerat dignissim. Phasellus nec nunc lorem.</p>
                        </td>
                        <td class="price"><strong><i class="fa fa-eur"></i> 30.00</strong></td>
                        <td><button class="btn btn-link">Buy now</button></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="img/products/phones.jpg" alt="#">
                        </td>
                        <td>
                            <h5><a href="">Quisque mi neque, aliquam vestibulum ligula ac, bibendum dignissim mauris.</a></h5>
                            <p>Fusce sagittis urna eget feugiat tristique. Aenean non suscipit diam. Morbi purus ligula, faucibus id libero sit amet, molestie dapibus leo.</p>
                        </td>
                        <td class="price"><strong><i class="fa fa-eur"></i> 35.80</strong></td>
                        <td><button class="btn btn-link">Buy now</button></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="img/products/scheme.jpg" alt="#">
                        </td>
                        <td>
                            <h5><a href="">Donec in justo nibh. Sed ultrices iaculis imperdiet.</a></h5>
                            <p>Aliquam lectus lorem, viverra et tortor quis, consectetur dapibus risus.</p>
                        </td>
                        <td class="price"><strong><i class="fa fa-eur"></i> 54.50</strong></td>
                        <td><button class="btn btn-link">Buy now</button></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="img/products/turnt.jpg" alt="#">
                        </td>
                        <td>
                            <h5><a href="">Curabitur nulla est, lobortis ac nibh u.</a></h5>
                            <p>Vestibulum egestas et velit vitae ornare. Aliquam vulputate dignissim risus, mattis ullamcorper massa tincidunt vitae.</p>
                        </td>
                        <td class="price"><strong><i class="fa fa-eur"></i> 78.00</strong></td>
                        <td><button class="btn btn-link">Buy now</button></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>

{% endblock %}