.bdx {
    border: 1px solid red;
}

/*======== HEADER ========*/

.header-container {
    background-image: @my-bg-img-dark;
}

/*======== HEADER NAVBAR ========*/

.my-logo {
    float: left;
    height: auto;
    min-height: 90px;
    min-width: 222px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.my-navbar-style {
    margin-bottom: 0;

    .navbar-toggle {
        margin-left: 30px;    
        border-color: @navbar-default-toggle-border-color;
        &:hover,
            &:focus {
            background-color: @navbar-default-toggle-hover-bg;
        }
        .icon-bar {
            background-color: @navbar-default-toggle-icon-bar-bg;
        }
    }

    .my-header-menu {
        position: absolute;
        bottom: 0;

        text-transform: uppercase;
        font-size: 17px;
        font-family: @headings-font-family;
        a {
            color: #fff;
            &:hover {

            }
        }
    }

    @media(max-width: @grid-float-breakpoint-max) {
        .my-social-buttons {
            float: right;
        }
    }
    @media(min-width: @grid-float-breakpoint-max) {
        .my-social-buttons {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    .my-social-buttons {
        li {
            display: inline-block; 
        }
        a {
            line-height: 20px;
            padding: 5px 10px;
            vertical-align: middle;
        }
    }
    .my-search-style {
        position: absolute;
        top: 5px;
        right: 0;
        padding: 0;
        width: 300px;
    }
}

/*======== CONTENT ========*/

.content-styles {
    padding: 20px 0;
    img {
        margin-right: 20px;
        margin-left: 15px;
    }
    h2 {
        text-transform: uppercase;
        font-size: @font-size-h2;
        color: @headings-color;
    }
    h4 {
        text-transform: uppercase;
        font-size: @font-size-h4;
        color: #1c1f26;
    }
    p {
        color: #1c1f26;
    }
}

.img-icon {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: inline-block;
    vertical-align: bottom;
    height: 30px;
}
.img-icon-select {
    width: 31px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAZCAYAAAG+8MWyAAACiElEQVRIx7XWT4hVVRwH8M8bZ4Kg0QoUIohSoSDEwjFatBGZaSdEi/xPhgiudO1qyIWtE3dBUEHhKMy08l9TgbgYBZ8MgiiaTSlmpDMoDDg0t83vypk797y5L+oLh3feOb///85lIUbSPwWeg4/jT4FLrQrFAjy9/DA5HG4lpD/jp0UyWhajwEzsV7RyGoN5uCfsrOKIJVCq0JOxIV3g14ykQg11T7Iv6lTMY6yTDfDyogDnsrBMM7QwgRfxDR7iSh3hVzVOFTiBdmV9VtJ8VxO7qgB4Ba/hWlkqZZROJWZuxa2MG1OYxRvpYU8lOINYE8LSAL6Pm7iMDamAXjxOMr03o/0lHI79ulhv6RKfYg4rumX8IKrnIKbxbBOmdsRkNpim0+y0OlRWWRx30nJMsL7KuLJG82jl7J20M/5INN5PzGonDJvj9zom03z/2cD3T0LgqvD/KfOb2BMXX2SYd+BdPF/toiLDUAbsNk5HtU2iP1JWOy7qAjaL7fg7DXBvg1SJur4a5i8w+3bsz2BfjeZ5fF5j1ZdNK6xT//+n2B2Cx8O6IqaW7Ov0L7Ep6dItUTKdMI6jTZQ/g20Zmgf4PsKa9tixmMFV/NiNR4ciXD/ghSjudPVXcjrahezhMue9OIeBuPgFr6MPQ7gY58sro/sJHtUI3o+PYnSJ8h7CBRzIWbMWfy1RmUXN0Ek9H4xmvBGP0t1oyoGc56U3x+OhHck9sg1wNpr5BL4N5btwqRNT+uX2NV6tWWMNPM+hP4Zibc5T7IwFJ3E+qda0YnNjfHOEfQqrY2rN4e064t4OFr+H3zN3fZmZsacyP2eqz0AT5RNLfIzOZL7syshtxG+4539Eu4sOWbT+AQzW48g5rw8LAAAAAElFTkSuQmCC');
}
.styled-article {
    background-image: @my-bg-img-light;
}

/*========COMPANY NAVBAR==========*/

.my-simple-menu  {
    > li {
        text-transform: uppercase;
        font-family: @headings-font-family;
        font-size: 18px;
        list-style: none;
        display: inline-block;
        padding: 0 15px;
        border-right: 1px solid @headings-color;

        &:last-child {
            border-right: none;
        }
        a {
            color: @headings-color;
            &:hover {
                color: lighten(#959d03, 30%);
            }
        }
    }
    margin-bottom: 20px;
    padding-left: 0;
}

/*======== FOOTER ========*/

.footer-container {
    min-height: @footer-height -15px;
    padding-bottom: 15px;
    background-image: @my-bg-img-dark;
    .box-shadow(inset 0 -15px 30px rgba(0,0,0,0.3));
    color: #fff;
    a {
        color: @headings-color;
        &:hover {
            color: lighten(#959d03, 30%);
        }
    }
}
.copyright-container {
    text-transform: uppercase;
    padding-top: 20px;
}
.footer-menu-container {
    text-align: center;
    padding-top: 20px;
}
.my-footer-menu {
    ul {
        margin-bottom: 0;
    }
    li {
        list-style: none;
        display: inline-block;
        padding: 0 15px;
        border-right: 1px solid @headings-color;

        &:last-child {
            border-right: none;
        }
        a {
            color: @headings-color;
            &:hover {
                color: lighten(#959d03, 30%);
            }
        }
    }
}
.developer-container {
    text-transform: uppercase;
    padding-top: 20px;
    text-align: right;
}