.bdx {
    border: 1px solid red;
}

/*======== HEADER ========*/

.header-container {
    background-image: @my-bg-img-dark;
}

/*======== HEADER NAVBAR ========*/

.my-logo {
    float: left;
    height: auto;
    min-height: 90px;
    min-width: 222px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.my-navbar-style {
    margin-bottom: 0;
    text-align: center;
    .navbar-toggle {
        margin-left: 30px;    
        border-color: @navbar-default-toggle-border-color;
        &:hover,
            &:focus {
            background-color: @navbar-default-toggle-hover-bg;
        }
        .icon-bar {
            background-color: @navbar-default-toggle-icon-bar-bg;
        }
    }
    .navbar-collapse {
        text-align: center;
        padding-top: 58px;
        padding-left: 0;
        padding-right: 0;
    }
    .my-header-menu {
        display: inline-block;
        float: none;
        margin-right: 100px;
        text-transform: uppercase;
        font-size: 17px;
        font-family: @headings-font-family;
        a { 
            padding: 5px 15px;
            color: #fff;
            &:hover {
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
        .active {
            a {
                text-decoration: underline;
            }
        }
    }

    @media(max-width: @grid-float-breakpoint-max) {
        .my-social-buttons {
            float: right;
        }
    }
    @media(min-width: @grid-float-breakpoint-max) {
        .my-social-buttons {
            position: absolute;
            bottom: 14px;
            right: -5px;
        }
    }
    .my-social-buttons {        
        li {
            display: inline-block; 
        }
        a { 
            padding: 5px 15px;
            color: #fff;
            &:hover {
                background-color: rgba(0, 0, 0, 0.4);
            }
        }
    }
    .my-search-style {
        position: absolute;
        top: 5px;
        right: 0;
        padding: 0;
        .input-group-btn {
            width: auto;
        }
        input {
            &.form-control {
                width: 150px;
            }
            border: none;
            background-color: rgba(0, 0, 0, 0.4);
            color: #fff;
            &:focus {
                 width: 300px;
            }
            .transition(all 2s ease-in-out);
        }
        
        button {
            border-color: rgba(0, 0, 0, 0.4);
            background-color: rgba(0, 0, 0, 0.4);
            color: #fff;
        }
    }
}

/*======== CONTENT ========*/

.content-styles {
    padding: 20px 0;
    img {
        margin-right: 20px;
        margin-left: 15px;
    }
    h2 {
        text-transform: uppercase;
        font-size: @font-size-h2;
        color: @headings-color;
    }
    h4 {
        text-transform: uppercase;
        font-size: @font-size-h4;
        color: #1c1f26;
    }
    p {
        color: #1c1f26;
    }
}

.styled-article {
    background-image: @my-bg-img-light;
}

/*========= HOME =========*/

.home-container {
    .carousel-control {
        .glyphicon-chevron-left {
            left: 20%;
        }
        .glyphicon-chevron-right {
            right: 20%;
        }
    } 
    .carousel-caption {
        left: 0;
        right: 0;
        text-align: left;
        z-index: auto;
        h3 {
            display: inline-block;
            color: #fff;
            font-size: 36px;
            background-color: #959d03;
            text-transform: uppercase;
            padding: 15px 20px;
        }
    }
}
.my-home-content-container {
    p {
        font-size: 14px;
    }
    .img-icon {
        background-repeat: no-repeat;
        background-position: 50% 50%;
        display: inline-block;
        vertical-align: bottom;
        height: 30px;
        margin-right: 5px;
    }
    .img-icon-select {
        width: 31px;
        background-image: url(../img/icon1.png);
    }
    .img-icon-gear {
        width: 31px;
        background-image: url(../img/icon2.png);
    }
    .img-icon-person {
        width: 23px;
        background-image: url(../img/icon3.png);
    }
}
.my-carousel-content {
    color: #fff;
    font-size: 14px;
    background-color: #0e3907;
    padding: 15px 20px;
}

/*======== COMPANY ==========*/

.my-company-container {
    h2 {
        margin-top: 0;
    }
}

/*========COMPANY NAVBAR==========*/

.my-simple-menu  {
    > li {
        text-transform: uppercase;
        font-family: @headings-font-family;
        font-size: 18px;
        list-style: none;
        display: inline-block;
        padding: 0 15px;
        border-right: 1px solid @headings-color;

        &:last-child {
            border-right: none;
        }
        a {
            color: @headings-color;
            &:hover {
                color: lighten(#959d03, 30%);
            }
        }
    }
    margin-bottom: 20px;
    padding-left: 0;
}

/*======== PRODUCTS ==========*/

.my-products-container {
    padding: 20px 0;
}
.my-products-table {
    thead > tr > th,
    tbody > tr > td {
        border-color: #959d03;
        vertical-align: middle;
    }
    thead > tr > th {
        border-left-color: #fff;
        border-right-color: #fff;
    }
    caption {
        color: #fff;
        text-align: left;
        background: #959d03 url('data:image/gif;base64,R0lGODlhBAAEAKECAHqBA5WdA////////yH5BAEKAAIALAAAAAAEAAQAAAIGBBKGqAkFADs=');
    }
    .my-filter-btn {
        font-size: 12px;
        border-right: solid 1px #fff;
    }
    .my-filters-container {
        .btn, .close {
            margin-left: 5px;
        }   
    }
    thead {
        border-bottom-color: #959d03;
        color: #fff;
        text-transform: uppercase;
        font-family: @headings-font-family;
        font-size: 14px;
        background: #959d03 url('data:image/gif;base64,R0lGODlhBAAEAKECAHqBA5WdA////////yH5BAEKAAIALAAAAAAEAAQAAAIGBBKGqAkFADs=');
    }
    tbody {
        h5 {
            a {
                color: #959d03;    
            }
            font-size: 14px;
            text-transform: uppercase;
        }
        p {
            font-size: 14px;
            padding: 5px 0;
        }
    }
    
    .my-product-img-container {
            padding: 0;
    }
    .price {
        white-space: nowrap;
        font-size: 14px;
    }
    .my-buy-btn {
        font-family: @headings-font-family;
        color: #959d03;
        font-size: 14px;
        text-transform: uppercase;
    }
    
}

/*======== PRODUCT INFO ==========*/

.my-product-info {
    h2 {
        text-transform: uppercase;
        font-size: 24px;
    }
    .table, .my-product-description {
        border: 1px solid #959d03;
    }
    .my-product-description {
        padding: 10px;
    }
}
.my-product-priceing {
    margin-top: 5px;
    float: right;
    .table-bordered > tfoot > tr > td {
        border-color: #959d03;
    }
    tfoot {
        button {
            width: 100%;
        }
    }
}
.product-carousel-container {
    text-align: left;
    .carousel {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
.product-img-carousel-indicators {
    a {
        display: inline-block;
        margin-right: 8px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

/*======== THUMBNAILS ==========*/

.my-thumbnails {
    h1 {
        color: #000;
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    h6 {
        color: #000;
        text-transform: uppercase;
    }
    .thumbnail {
        background-color: transparent;
        border: none;
        padding: 0;
        margin-top: 20px;
    }
}

/*======== CONTACTS ========*/

.my-contacts-container {
    h2 {
        margin-top: 0;
    }
    p {
        font-size: 14px;
    }
    input {
        height: 34px;
    }
    input, textarea {
        font-size: 14px;
        border-color: #959d03;
        border-radius: 0;
    }
    .container-fluid {
        padding-right: 0;
        padding-left: 0;
        margin-right: -15px;
        margin-left: -15px;
    }
    #map-canvas { 
        display: inline-block;
        width: 100%;
        height: 400px; 
    }
    button {
        width: 100%;
        color: #fff;
        font-family: @headings-font-family;
        font-size: 14px;
        text-transform: uppercase;
        padding: 7px;
        border: none;
        background: #959d03 url('data:image/gif;base64,R0lGODlhBAAEAKECAHqBA5WdA////////yH5BAEKAAIALAAAAAAEAAQAAAIGBBKGqAkFADs=');
    }
}

/*======== FOOTER ========*/

.footer-container {
    min-height: @footer-height -15px;
    padding-bottom: 15px;
    background-image: @my-bg-img-dark;
    .box-shadow(inset 0 -15px 30px rgba(0,0,0,0.3));
    color: #fff;
    a {
        color: @headings-color;
        &:hover {
            color: lighten(#959d03, 30%);
        }
    }
}
.copyright-container {
    text-transform: uppercase;
    padding-top: 20px;
}
.footer-menu-container {
    text-align: center;
    padding-top: 20px;
}
.my-footer-menu {
    ul {
        margin-bottom: 0;
    }
    li {
        list-style: none;
        display: inline-block;
        padding: 0 15px;
        border-right: 1px solid @headings-color;

        &:last-child {
            border-right: none;
        }
        a {
            color: @headings-color;
            &:hover {
                color: lighten(#959d03, 30%);
            }
        }
    }
}
.developer-container {
    text-transform: uppercase;
    padding-top: 20px;
    text-align: right;
}