<!DOCTYPE html>
<html>
    <head>
        <title>{% block pageTitle %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.ico">
        <script>
            less = {
                env: "development"
            };
        </script>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet/less" type="text/css" href="css/init.less">
        <script src="js/less-1.6.3.min.js" type="text/javascript"></script>

    </head>
    <body>
        <div class="body-wrap">
        {% block header %}
                {% include 'components/header.html.twig' %}
        {% endblock %}
        

        {% block content %}           
        
        {% endblock %}
        </div>

        {% block footer %}
                {% include 'components/footer.html.twig' %}
        {% endblock %}

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/jquery-1.11.0.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>