<div id="footer">
    <div class="footer-container">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-push-3">
                    Menu MenuMenu MenuMenu MenuMenu MenuMenu Menu
                </div>
                <div class="col-xs-6 col-sm-3 col-sm-pull-6">
                    <div class="copyright-container">
                        &copy; 2013 Racing Green
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <div class="developer-container">
                        Developed by <a href="#">CG Ant</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>